<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>코로나19 성별 확진자 & 사망자</title>
    <!-- 차트 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <canvas id="chart4"></canvas>
    <script>
        var chart4_x = []
        var chart4_y1 = []
        var chart4_y2 = []
        fetch("../static/js/gender.json")
            .then(response => response.json())
            .then(json => {
                // console.log(json.data)
                data = json.data
                for (i = 0; i < data.length; i++) {
                    // console.log(data[i].month)
                    chart4_x.push(data[i].gender)
                    chart4_y1.push(data[i].confirm)
                    chart4_y2.push(data[i].death)
                }
            })
            .then(() => {
                var ctx = document.getElementById('chart4').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'bar',

                    // The data for our dataset
                    data: {
                        datasets: [{
                            label: '확진자',
                            data: chart4_y1,
                            // data: [123, 87, 59, 140],
                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                            borderColor: 'rgba(255, 159, 64)',
                            borderWidth: 1,
                            yAxisID: 'y-axis-1'
                        }, {
                            label: '사망자',
                            data: chart4_y2,
                            // data: [2, 3, 8, 6],
                            backgroundColor: 'transparent',
                            borderColor: 'rgba(54, 162, 235)',
                            type: 'line',

                            yAxisID: 'y-axis-2'

                            // Changes this dataset to become a line

                        }],
                        labels: chart4_x
                        // labels: ['January', 'February', 'March', 'April']
                    },

                    // Configuration options go here
                    options: {
                        responsive: true,
                        hoverMode: 'index',
                        stacked: false,
                        title: {
                            display: true,
                            text: '코로나19 성별 확진자 & 사망자',
                            fontSize: 20
                        },
                        scales: {
                            xAxes: [{
                                barPercentage: 0.5
                            }],
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    fontSize: 12
                                },
                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: 'left',
                                id: 'y-axis-1',
                            }, {
                                ticks: {
                                    max: 200,
                                    stepSize: 50,
                                    fontSize: 12
                                },
                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: 'right',
                                id: 'y-axis-2',

                                // grid line settings
                                gridLines: {
                                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                                },
                            }],
                        }
                    }
                });
            });
    </script>
</body>

</html>